/*--------------------------------------------------------------
                        CSS General _ f5f5f5_A7ABB1
--------------------------------------------------------------*/
html, body {
    background-color:#fff;
    font-family: 'Lato', sans-serif;
    font-family:'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }	

body {
    /*calc([tamaño minimo] + ([tamaño maximo] - [tamaño minimo]) * ((100vw - [viewport width minimo]) / ([viewport width maximo] - [viewport width minimo])));*/
  font-size: calc(16px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
}
* {
  margin:0; 
  padding:0;
}

a {
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p{
	text-rendering: optimizeLegibility;
}
*::selection {
  background: #ff7a36;
  color: #31383f;
}
*::-moz-selection {
  background: #ff7a36;
  color: #31383f;
}

@font-face {
    font-family: 'Material Icons';
    color: #747172;

    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.feature-list .title{	
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.contenedor_full {
    width: 100%;
    height: 210px;
    margin-bottom:0px;
    padding-bottom:5px;
    padding-top: 25px;
}

.contenedor_90{
    width: 90%;
    align-items: center;
}

.linea_divisoria {
    margin-top: 2rem;
    margin-bottom: 2rem;  
    background-color:#31383f;
    opacity: 1;
}
/*
#button-up{
  width: 45px;
  height: 45px;
  background: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  border-radius: 50%;
  font-size: 1rem;
  position: fixed;
  bottom: 122px;
  right: 70px;
  border: 4px solid transparent;
  cursor: pointer;
  transition: all 300ms ease;
  transform: scale(0);
}

#button-up:hover{
  transform: scale(1.1);
}*/

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
  border-radius: 50%;
  right: 70px;
  bottom: 135px;
  transition: all 200ms ease;;
  z-index: 11;
  border: 4px solid transparent;
  transform: scale(1);
}
.back-to-top:hover{
  transform: scale(1.1);
}

.back-to-top i {
  padding-top: 11px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}
/*--------------------------------------------------------------
        OK_INDEX:INICIA HEADER + MENU NAVIGATION + MAIN SCROLL
--------------------------------------------------------------*/

#header {
    width:100%;
    background:#fff;
    height: 75px;
    padding: 29px, 0px;
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0px 0px 20px rgba(136, 147, 170, 0.3);
    position: fixed;
    left:0px;
    top: 0px;
 }
 #header .open,
 #header .close{
  display: none;
}


/*MENU LOGO + NAV*/
#header .menu_nav_ancho { 
    width: 90%;
    height: 75px;
    display: flex;
    margin:auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} /*el margin   margin-top: 9px; lo ubica*/

#header .logo .float-left{
    width: 30%;
    height: 75px;
    padding-top: 28px;
    display:flex;
    justify-content: left;
}

#header .nav {
    width: 70%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

#header .menu_float_right{
    padding-top: 23px; 
}
#header nav ul {
    display: flex; 
    flex-direction:row;
    font-size: 0;
    text-align: center;
}

#header nav ul li {
    text-transform: lowercase;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 0.95rem; /*cambia el tamaño de las tipos del nav*/
    font-weight: 650;
    margin-left: auto;
    padding-left:0.7rem;
    display: inline-block;
    position: relative;
    margin: 3px;
}

#header nav li:hover > ul {
    display:block;
}

#header nav ul li a {
    justify-content: flex-end;
    text-decoration: none;
    color:#747172;
}

#header nav ul li a:hover { 
  color: #007bff;
  display:inline-block;
  font-weight: 650;
  width: auto;
  transition: all .1s;
  border-bottom: 3px solid trasparent;

}
#header nav ul li a.active { 
  color: #ff6a00;
  font-weight: 650;

}

#header nav ul li a .active{
	line-height:45px;
}

#header nav ul li a:after {
    color: #31383f;
    display: inline-block;
    width: auto;
    }
    
#header ul li:hover ul {
    display: block;
}
 /*MAIN MARGEN SUPERIOR_SCROLL*/
 .contenido_pag {
  padding-top: 69px;
}


/*--------------------------------------------------------------
 OK_INDEX:TERMINA HEADER + MENU NAVIGATION + MAIN SCROLL + BOTON
--------------------------------------------------------------*/
/*home*/
/*background*/

#home {
  background: url("../img/home/index_mural_3-1.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;   /* Makes the image fixed in the viewport so that it doesn't move when*/
  position: relative;
  margin-bottom: 8%;
  background-color:#747172;
}

/*SOMOS NEXTMEDIA_UBICACION*/
 
#home .bajada_index {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  color:#fff;
  text-align: left;
  flex-direction: column;
  padding-left: 60%;
  transform: translateX(-0%);
  padding-top: 6%;
  padding-right: 10%;
}
/*SOMOS NEXTMEDIA*/
.area_contenedor_100{
  display: table;
  padding-top: 69px;
  width: 100%;
}

#home .texto_bajada_index {
    font-family:'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: left;
    word-spacing: 5px;
    padding-top: 0.8rem;
}

.texto_bajada_index span {
    color:#eee;
    line-height: 1.8rem;
    text-align: left;
    letter-spacing: 1.5px;
}
/*texto una empresa index*/
.texto2 span {
  display: block;
  font-family:'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 10px;
  text-align: left;
  word-spacing: 2px;
  line-height: 2rem;
}
/*zócalo opaco*/
.striked {
  position: relative;
}

.striked:after {
  height: 103%;
  width: 105%;
  left: -2%;
  bottom: -2%;
  background:#282323;
  opacity: 0.7;
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
}
/* Back to top button */




/*                 OK_INDEX:Termina MENU + HOME
--------------------------------------------------------------*/
/*--------------------------------------------------------------
                    INICIA NOSOTROS - 2 columnas -*/

.animate__bounceInRight {
    display: inline-block;
    margin: 0 0.5rem;
    animation-fill-mode: none;
    animation-delay: 0s;  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  .animate__bounceInLeft {
    display: inline-block;
    margin: 0 0.5rem;
    animation-fill-mode: none;
    animation-delay: 0s; 
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
} 

.box_zoom{
  width: 496px;
  height: 100%;
}


/*img/home/after_photo.svg - /*esto es para hacer el scroll sobre la foto adentro del contenedor*/

.workers {  
  background: url("");
  min-height: 54.40677966101695vh;
  min-width: auto;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;   /* Makes the image fixed in the viewport so that it doesn't move when*/
  position: relative;
  margin-bottom: 8%;
}
/*img-box*/
.workers {
  min-width: 40.75vw;
  height: auto;
  overflow: hidden;
}
.workers img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
.workers img:hover {
  transform: scale(1.2);
}

.txt{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 0.85rem;
  color: #747172;
  font-weight:400;
}
.txt1{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 0.85rem;
  color: #747172;
  font-weight:400;
}
.txt_link{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 0.85rem;
  color: #747172;
  font-weight:400;
}
.txt1_link{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 0.85rem;
  color: #747172;
  font-weight:400;
}

.txt_link_formatos{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 0.85rem;
  color: #747172;
  font-weight:400;
}
.link {
  position: relative;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 0.9rem;
  color: #747172;
  font-weight:400;
  text-decoration: none !important;
  background: none;
  border: none; 
  margin-top:2rem;
}

.link_formatos {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 0.9rem;
  color: #747172;
  font-weight:400;
  text-decoration: none !important;
  background: none;
  border: none; 
  margin-top:2rem;
}

  @media (min-width: 1600px) {
    .link {
      font-size: 1rem; } 
    }
  .link .txt {
    position: relative;
    z-index: 10; 
  }
  .link:hover:after {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    transition-duration: 400ms; 
  }
  .link:hover:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left; 
  }

  .link:after{
    content:"";
    display: block;
    width: auto;
    height: 2px;
    background:#747172;
  }
  
  .link:before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 2px;
    overflow: hidden;
    background:#007bff; /*zócalo pisa*/
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: transform 400ms cubic-bezier(1, 0, 0, 1) 0ms;
    z-index: 0; 
  }

  .link:before {
    bottom: 10px;
    top: 8px;
    height: 6PX;
    opacity: 0.5;
    left: -5px;
    right: -5px;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    transition-duration: 400ms; 
  }
  @media (min-width: 1600px) {
      .link:before {
        bottom: 10px;
        top: 10px; } }
  .link.min {
    font-size: 1.2rem; 
  }
    .link.min:before {
      top: 5px;
      bottom: 7px; 
    }
    .link.min:after {
      height: 1px; 
    }

#nosotros:target { 
  padding-top: 128px; 
}

/*HOME_nosotros txts*/

#nosotros{
  margin-bottom: 1rem;
}

.somos_first{
  padding-top:1rem;
}

.somos{
  padding-top:3rem;
  padding-bottom: 0rem;
}
/*home*/

.titulo_bloque_waves-first, .txt span{ 
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
}

.titulo_bloque_waves, .txt span{
  display: inline-block;
  padding-top: 0rem;
  padding-bottom: 0.1rem;

}
.waves{
  padding-top:0.5rem;
}

.titulo_bloque_waves-equipo{
display: inline-block;
padding-top: 1rem;
}
.titulo_bloque_waves-formatos{
  display: inline-block;
  padding-top: 0rem;
  }
.titulo_bloque_waves-servicios{
    display: inline-block;
    padding-top: 0rem;

    }

.msdk{
overflow: hidden;
}

.waves_equipo{
  padding-top:0.7rem;
  padding-bottom: 0.1rem;

}
.img_rounded {
  width:120px;
  height:120px;
  border-radius:50%;
}

.waves_servicios{
  padding-top:0.7rem;
  padding-bottom: 0rem;

}
.destaques{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  text-align: left;
}

#equipo .contenedor_full_orange1 {
  background:#fff4df;
  width: 100%;
  height: auto;
  padding: 70px 20px 55px 20px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  box-sizing: border-box; 
}
/*--------------------------------------------------------------
                    TERMINA HOME
--------------------------------------------------------------*/


/*--------------------------------
Empieza CARROUSEL DISPOSITIVOS
--------------------------------*/

.clientes{
  padding-bottom: 1rem;
}
.contenedor_full_blanco {
    background:#fff;
    width: 100%;
    margin-bottom:4rem;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}
/*--------------------------------
TERMINA CARROUSEL DISPOSITIVOS
--------------------------------*/ 
/*--------------------------------
EMPIEZA SERVICIOS
--------------------------------*/ 
/*------grilla-------*/ 

#servicios .banner_top_blanco{
  background-color:none;
  padding-top: 50px;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 40px;
}

#servicios .container{
  padding-top: 0rem;
}

.icono-servicios{
    float: right;
    padding-top: 7px;
    padding-right:18px;
}

#servicios .contenedor ul {
    margin-top: 2rem;
}

#servicios ul li{
    margin-bottom: 2.5rem;
    text-decoration: none;
    list-style-type: none;
    display:flex;
    align-items: left;
}

.margen-boton span {
    line-height: 1.3rem;
    margin-left: 2rem;
}

/*------subtitulo mayúscula-------*/ 

#servicios ul li div h3 {
    color: #31383f;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    justify-content: left;
    margin-left: 2rem;
}
/*------texto-------*/ 

#servicios ul li div p {
    color: #31383f;
    text-transform: none;
    font-size: 0.85rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.8rem;
    grid-auto-columns: 70%;
    line-height: 1.3rem;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

.fa-li{
    display: block;
}
/*------texto bullet-------*/ 

li .obj_center{
    margin-bottom: 0.9rem;
    grid-auto-columns: 30%;
    line-height: 1.3rem;
    margin-right: 1.8rem;
}

li .texto4_li{
    margin-bottom: 0.9rem;
    line-height: 1.3rem;
    margin-right: 1.8rem;
    list-style: circle;
    display: flex;
    justify-content: left;
    color: #31383f;
    text-transform: none;
    font-size: 0.85rem;
    font-family: 'Open Sans', sans-serif;
    grid-auto-columns: 70%;
    line-height: 1.3rem;
    display: block;
}

.texto4_li span{
    display: block;
}
.servicios_margin-bottom{
  padding-bottom: 2.5rem;
}
.servicios_margin-top{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pb_5{
  padding-bottom: 2rem;
}
/*servicios carrousel*/

@media (max-width: 767px) {
  #comment .carousel-item {
    margin: auto;
  }
}

#comment .carousel-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.bluequote{ /*ver*/
  width: 7.2rem;
  height: auto;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  #comment .carousel-item .testimonial-img {
    float: none;
    margin: auto;
  }

#comment .carousel-item p {
  font-style: italic;
  margin: auto;
  font-size: 1rem;
}
}

@media (min-width: 992px) {
  #comment .carousel-item p {
    width: 70%;
  }
}

@media (max-width: 767px) {
  #comment .carousel-item h2, #comment .carousel-item h4, #comment .carousel-item p {
    margin-left: 0;
    margin: auto;
  }
}

@media (max-width: 767px) {
 #planificacion .servicios_titulo--1, #planificacion .servicios_parrafo--1 {
    text-align: center;
    width: 90%;
    margin:auto;
  }

#planificacion .titulo_bloque_waves-servicios, #planificacion .mskd, #planificacion .txt, #planificacion span{
  display: none;
  margin: auto;
  }
.servicios_margin-bottom{
    padding-bottom: 1rem;
  }

.themed-grid-col{
    margin: auto;
  }

.icono-servicios{
  margin-right: 120px;
  padding: 30px ;
  padding-right:18px;
  }
  }

  .workers {  
    background: url("");
    min-height: 100%;
    min-width: 100%;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;   /* Makes the image fixed in the viewport so that it doesn't move when*/
    position: relative;
    margin-bottom: 8%;
  }
  /*img-box*/

@media (max-width: 767px) {
.box_zoom {
    width: 402px;
    height: auto;
    overflow: hidden;
    margin: 0;
  }
img .workers_img{
  width: 402px;
  height: auto;
}
  }



/*ver*/


/*--------------------------------------------------------------
                  TERMINA SERVICIOS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
                       OK_INDEX_BOTONES CAMPAÑAS
--------------------------------------------------------------*/
/*BOTÓN CAMMPAÑAS*/
.boton_slide {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -o-text-overflow: clip;
    text-overflow: clip;
    background:#ff7a36;
    -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -moz-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    -o-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
    display: inline;
  }
  
  .boton_slide:hover {
    background: #007bff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    color:#fff;
  }
/*--------------------------------------------------------------
                       ok_Termina BOTON
--------------------------------------------------------------*/

/*--------------------------------------------------------------
                    EMPIEZA:CAMPAÑAS:MOSAICO
--------------------------------------------------------------*/

#mosaico a {
    text-decoration: none;
}

#mosaico .plaza_titulo {
  font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    line-height: 1.1rem;
    padding-top: 10px;
    letter-spacing: 1px;
}

#mosaico .fecha_campania {
  font-family: 'Open Sans', sans-serif;
  color:#eee;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: lowercase;
  line-height: 1.1rem;
  padding-top: 5px;
  letter-spacing: 1px;
}

.mosaico_info h4:hover .plaza_titulo { 
  opacity:1;
  -webkit-transition: opacity .4s .5s;
  -moz-transition: opacity .4s .5s;
  -ms-transition: opacity .4s .5s;
  -o-transition: opacity .4s .5s;
  transition: opacity .3s .5s;
}

.mosaico_info p:hover .fecha_campania { 
  opacity:0.9;
  -webkit-transition: opacity .4s .8s;
  -moz-transition: opacity .4s .8s;
  -ms-transition: opacity .4s .8s;
  -o-transition: opacity .3s .8s;
  transition: opacity .3s .8s;		
}
.mosaico_info li:hover .item-info-overlay{
  opacity:1;
      transition:all 0.4s ease 0s;
  -moz-transition:all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
  -o-transition:all 0.4s ease 0s;
}

#mosaico { /*contenedor*/
    padding: 10px 30px 40px 30px ;
  }

  #mosaico #mosaico-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  #mosaico #mosaico-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 15px;
    display: inline-block;
    padding: 10px 20px 6px 20px;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: #ff7a36;
    border-radius: 0px;
    text-transform: lowercase;
    background: #ecf5ff;
    margin-bottom: 5px; 
    transition: all 0.3s ease-in-out;
  }
  
  #mosaico #mosaico-flters li:hover,
  #mosaico #mosaico-flters li.filter-active {
    background: #ff7a36;
    color:#fff;
  }
  
  #mosaico #mosaico-flters li:last-child {
    margin-right: 0;
  }
  
  #mosaico .mosaico-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; /*medida inter"filas"*/
  }
  
  #mosaico .mosaico_item .mosaico_wrap {
    overflow: hidden;
    position: relative;
    border-radius: 0px;
    margin: 30px; /*medida inter"filas"*/
  }
  
  #mosaico .mosaico_item .mosaico_wrap:hover img {
    opacity: 0.5;
    transition: 0.3s;
  }
  
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
  }
  
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info h4 .plaza_titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.1rem;
    font-weight: 600;
    padding-top: 18px;
    margin-bottom: 10px;
    padding-bottom: 0;
    color:#fff;
    letter-spacing: 1px;
  }

#mosaico .mosaico_item .mosaico_wrap .mosaico_info h4 .contacto_form a {/*color filtro*/
    color: #282323;
}
  
#mosaico .mosaico_item .mosaico_wrap .mosaico_info h4 a:hover {
    color:  #ff7a36;
}

#mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-preview,
#mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-details {
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background:  #ff7a36;
    border-radius: 0%;
    margin: 10px 4px 0 4px;
  }
  
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-preview i,
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-details i {
    padding-top: 6px;
    font-size: 1.8rem;
    color:#fff;
  }
  
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-preview:hover,
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-details:hover {
    background:  #ff7a36;
  }
  
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-preview:hover i,
  #mosaico .mosaico_item .mosaico_wrap .mosaico_info .link-details:hover i {
    color:#fff;
  }
  
#mosaico .mosaico_item .mosaico_wrap:hover {
    background: #a19d9f;
}
  
#mosaico .mosaico_item .mosaico_wrap:hover .mosaico_info {
    opacity: 1;
}
/*-             Termina campañas mosaico
--------------------------------------------------------------*/
  
/*--------------------------------------------------------------
                    INICIA COMENTARIO INTERCAMBIO             */

/*bootstrap carrousel*/
.carousel {
  margin-top:0;
  margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  margin-bottom: 1.5rem;
  z-index: 20;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 29rem;
  margin-top: 3rem;
  transition: all 0.5s ease-in-out;
  margin-bottom: 6px;
}
.carousel-caption p {
  margin-bottom: 1.1rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
.creditos{
  font-style:normal;
  font-weight:400;
  color:#f7e6c7;
  padding-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */

}

/*bootstrap carrousel*/


.bluequote{
  width: 7.2rem;
  height: auto;
  padding-bottom: 0.8rem;
  padding-top:2rem;
}

#myCarousel .carousel-indicators li{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color:#747172;
  margin-bottom: 1rem;
}

.comentario {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color:#1C3643;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 2.1rem;
    margin: auto;
    padding-top:0.8rem;
}

#comment .comentario span {
    display: block;
}



/*--------------------------------------------------------------
                  5. INICIA FORM CONTACTO;*/

#contacto .banner_top_gris{
  background-color: #F2F4F6;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 40px;
}

/*numeros telefonos*/
.custom-font{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  padding-bottom: 15px;
  padding-top: 0px;
}
/*telefono/dires*/
#contacto .contacto-text h5.title{	
  font-family: 'Open sans', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
/*celular_ventas*/
#contacto .contacto-text p.sub_title{	
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color:#747172;
}

#contacto .contacto-list {
    margin-top:0px; 
    padding-top:0px;
    list-style:none;
}

#contacto .contacto-list li {
    margin-bottom:10px;
    font-family:"Open Sans", sans-serif;
    font-size: 0.9rem;
    color:#31383f;
}

#contacto .contacto-list i {
    color:#fff;
    padding:5px; 
    border-radius:5px; 
    background:#31383f; 
    width: 26px;  /*esto es el ícono*/
    text-align: center; 
    height: 26px; 
    margin-right:10px; 
}
#contacto .contacto-list li a {
  list-style:none;
}

#contacto .contacto-list a {
  font-family: 'Open Sans', sans-serif;
  color:#505458;
}

#contacto .contacto-list a:hover {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-decoration: none;
  color:#505458;
  font-weight: 600;
}

@media (min-width: 768px) {
.boton {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
/*numeros telefonos*/

/*telefono/dires*/
.contacto-text {	
  margin-top: 1rem;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
/*celular_ventas*/
#contacto .contacto-text p.sub_title{	
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color:#747172;
}

#contacto .contacto-list {
    margin-top:0px; 
    padding-top:0px;
    list-style:none;
}

#contacto .contacto-list li {
    margin-bottom:10px;
    font-family:"Open Sans", sans-serif;
    font-size: 0.9rem;
    color:#31383f;
}

#contacto .contacto-list i {
    color:#fff;
    padding:5px; 
    border-radius:5px; 
    background:#31383f; 
    width: 26px;  /*esto es el ícono*/
    text-align: center; 
    height: 26px; 
    margin-right:10px; 
}
#contacto .contacto-list li a {
  list-style:none;
}

#contacto .contacto-list a {
  font-family: 'Open Sans', sans-serif;
  color:#505458;
}

#contacto .contacto-list a:hover {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-decoration: none;
  color:#505458;
  font-weight: 600;
}
}

.feature-contacto-list i, .orange-icons i { 
  color:#ff7a36;
}
/*style*/
/*** Forms Elements***/ 
label,
input,
button,
select,
textarea {
  font-size:1rem;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
    font-family: "Open Sans", sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}
label.done{
  color:#1C3643;;
  text-decoration:line-through;
}
.uneditable-input,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-family: "Open Sans",sans-serif;
    -webkit-appearance: none;   
    color: #282323;
    outline: 0;
  height: 300;
  padding: 6px 9px;
  line-height: 15px;
  font-size: 0.8rem; /*hasta email*/
  font-weight: normal;
  vertical-align: top;  
  background-color:#fff;
  min-height: 35px; /*medida celdas nombre, apellido*/
  filter: none;
	  -webkit-box-shadow: none;
	     -moz-box-shadow: none;
	          box-shadow: none !important; /*esto es lo que le quita el shadow horrible*/
	  -webkit-border-radius: 0px;
	     -moz-border-radius: 0px;
	          border-radius: 0px;   
		-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: 1px solid #e5e9ec;
transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input.no-boarder {
  border: none;
}
input.dark {
  background-color:#e5e9ec;
  border: none;
}
input {
  border: 0px solid #cecece;
}

textarea {
  height: auto;
}

.uneditable-input.focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.m-uneditable-input:focus {
  border-color: #e5e9ec; /*borde celdas*/
  background-color:#f4f5f7;
  outline: 0px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;      
		  background-color: #f4f5f7;
}

input[type="radio"],
input[type="checkbox"] {
  	margin: 4px 0 0;
  	margin-top: 1px \9;
  	margin-top: 0;
  	line-height: normal;
	  cursor: pointer;		
  	-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;		
}

select,
input[type="file"] {
  height: 34px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}

select {
  width: 220px;
  background-color: #fff;
  background-image: none;
  filter: none;
  border: 1px solid #e5e5e5;
  outline: none;
  min-height:15px;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;  
  -webkit-box-shadow: none ;
     -moz-box-shadow: none ;
          box-shadow: none ;
}

input[class*="span"]
{
  float: none;
  height: 34px ;
  margin-left: 0;

}

select[class*="span"],
textarea[class*="span"]
{
  float: none;
  margin-left: 0;
}
/*ACA TENDRÍA QUE VENIR TODO LO QUE QUEDO EN STYLE*/
/*** Form stuff ***/
form legend {
    margin: 5px 0px 10px 0px;
  }
  .column-seperation > div[class*="col-"]{
      border-right:1px solid #fff;
  }
  .column-seperation > div[class*="col-"]:last-child{
      border-right:0px;
  }
  /*
  .form-no-horizontal-spacing .row-fluid [class*="span"]{
  }*/
  .form-no-horizontal-spacing .row-fluid .side-label{
      border-right:1px solid #fff;
  }
  
  .radio, .checkbox{
      padding-left:0px;
  }
  /*** General forms settings ***/
  input.placeholder,
  textarea.placeholder {
    color: #aaa;
  }
  
  .help-block {
   margin-top: 10px;
  }
  
  .form-inline input {
    margin-bottom: 0px;
  }
  
  .form-label {
    margin-top: 2px;
  }
  
  .form-label .required {
    color: #dd6a31;
    font-size: 12px;
    padding-left: 2px;
  }
  
  .help-inline {
    margin-top: 6px;
  }
  
  .help-small {
    font-size: 12px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .success .help-inline.ok:before {
    content: "\f00c";
    font-size: 16px;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
  }
  
  form legend,
  .form-view legend {
    margin-bottom: 15px;
  }
  
  .controls > .radio .checker,
  .controls > .checkbox .checker {
    margin-right: 2px;
  }
  
  .controls > .radio,
  .controls > .checkbox {
    display: inline-block;
    padding: 0;
    margin: 0 ;
    margin-top: 8px;
    margin-right: 2px;
  }
  
  .controls > .radio.line,
  .controls > .checkbox.line {
    display: block;
    padding: 0 ;
    margin: 0;
    margin-top: 5px;
  }
  
  .controls .inline {
    margin-top: 8px; 
  }
  
  .form-view .control-group {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .uploader {
    margin-top: 2px;
  }
  .hint{ 
      padding:5px 0px 0px 10px;
  }
  
  .form form {
    margin: 0px;
    padding: 0px;
  }
  
  .form .form-actions{
    background-color:#f5f5f5;
    margin-top: 0px;
    margin-top: 40px;
    padding-left: 190px;
  }
  
  .form-group{
      margin-bottom:20px;
  }
  
  .form-group .form-label{
      color:#55606e;
      display:inline-block;
      margin-right:8px;
  }
  
  .form-group .help{
      color: #747172;
      font-size: 12px;
  }
  
  .form-group .controls{
      margin-top:8px;
  }
  .form-control{
      border:6px solid #1C3643; /*color borde mensaje*/
  }
  .form-row input, .form-row select, .form-row textarea, .form-row select2{
      margin-bottom:10px;
  }
  .form-row .radio {
      margin-bottom:7px;
  }
  .form-row:last-child{
      margin-bottom:0;
  }
  .section.table{
      margin-bottom:0;
  }


 /*BOTON ENVIAR*/

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #dd6a31;
  font-style: normal;
}
/*boton enviar contacto*/
.contacto_btn{
  width: 77px;
  padding-top: 15px;
  margin-top: 20px;
  margin-left: 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border: none;
  -webkit-border-radius: 25px;
  border-radius: 3px;
  font-family:'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color:#fff;
  background:#ff6a00;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  display: block;
}

.contacto_btn a{
  text-decoration: none;
    outline:none;
  }
.contacto_btn:hover {
    color:#fff;
    background: #007bff;
    text-decoration: none;
}
@media (min-width: 768px) {
  #button-send {
  }
}
/*                  TERMINA CONTACTO
--------------------------------------------------------------*/
/*--------------------------------------------------------------
                  INICIA MAPA CONTACTO
--------------------------------------------------------------*/

#contacto .area_map-responsive_100{ 
  background-color: #31383f;
  width: 100%;
  padding:0px;
  margin: 0;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; 
}

#contacto .map-responsive {
  height: 0;
  overflow:hidden;
  position:relative;
}

#contacto .map-responsive iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
    float: left;
}

/*                  TERMINA MAPA CONTACTO
--------------------------------------------------------------*/
/*--------------------------------------------------------------
                    INICIA formatos                           */

 #formatos .banner_top_blanco{
  background-color:none;
  padding-top: 50px;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 15px;
}

/*4_FORMATOS_TXTZOCALO_SCROLL*/

#formatos .img__zocaloScroll--mobiliario{
  text-align: center;
  padding-top: 19.1vh;
  text-decoration: none;
}

#formatos .img__zocaloScroll--vallados{
  text-align: center;
  padding-top: 19.1vh;
  text-decoration: none;
}
#formatos .img__zocaloScroll--subtes_trenes{
  text-align: center;
  padding-top: 19.1vh;
  text-decoration: none;
}
#formatos .img__zocaloScroll--moviles_carteles{
  text-align: center;
  padding-top: 19.1vh;
  text-decoration: none;
}

#servicios .mapa__zocaloScroll--geoplaning{
  text-align: center;
  padding-top: 19.1vh;
  text-decoration: none;
}

#formatos .img__zocaloScroll--txt{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  word-spacing: 0.2rem;
  text-align: center;
  text-transform: lowercase;
  color:#fff;
}
#formatos .img__zocaloScroll--txt a{
  text-decoration: none;
}

#formatos .img__zocaloScroll--txt:hover{
  color:#007bff;
  text-decoration: none;
  font-size: 1rem;
  }

  #servicios .img__zocaloScroll--txt{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    word-spacing: 0.2rem;
    text-align: center;
    text-transform: lowercase;
    color:#fff;
  }
  #servicios .img__zocaloScroll--txt a{
    text-decoration: none;
  }
  
  #servicios .img__zocaloScroll--txt:hover{
    color:#007bff;
    text-decoration: none;
    font-size: 1rem;
    }
.credito p{
  margin:auto;
}
/*filtro index mural */



#formatos .container{
  padding-top: 0rem;
}
#formatos .album_full{
  margin-top: 0rem;
  margin-bottom: 3rem;
}
#formatos .album{
  margin-top: 0rem;
  margin-bottom: 1rem;
}

/*linea*/
#formatos .linea_divisoria_c {
  margin-top: 0rem;
  margin-bottom: 2.5rem;  
  background-color: #747172;
}
/*textos en sass*/

.card-body .span{
  display: block;
} 
.card-body ul li {
  text-transform: none;
  list-style-type: none;
}

.jumbotron {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}


/*--------------------------------------------------------------
                  INICIA FOOTER CONTACTO_LINKS_SUBMIT
--------------------------------------------------------------*/

.footer-top {
    padding: 20px 0 15px 0;
    background-color: #a19d9f;
}
.footer-links, .footer-newsletter{
  padding-top: 2rem;
  
}

 .footer-contact{
  color: #31383f;
  text-transform: none;
  box-sizing: border-box;
  line-height: 1.4rem;
  padding-top: 2rem;
  font-size: 0.85rem;
}

/*footer agencia*/
#contacto .titulo--adress {
    font-family: 'Lato', sans-serif;
    font-size: 0.85rem;
    font-weight: 800;
    margin-inline-end: 1.5rem;
    line-height: 1.3rem;
    letter-spacing: 0.8px;
    text-transform: lowercase;
    color: #31383f;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}

.titulo--adress::after{
    content:"";
    display: block;
    width: 55px;
    height: 3px;
    background: #31383f;
}
.mailto {
    color: #31383f;
    text-transform: none;
    list-style-type: none;
}
        
a.mailto:hover {
    color: #31383f;
    font-weight: 600;
    text-decoration: none;
}
.adress{
  display: block;
}

/*footer_quick links*/

.titulo--links{
  font-family: 'Lato', sans-serif;
  font-size: 0.85rem;
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: lowercase;
  color: #31383f;
  margin-bottom: 2rem;
  margin-left: 2rem;

}
.titulo--links::after{
  content:"";
  display: block;
  width: 76px;
  height: 3px;
  background: #31383f;
  margin-left: 2rem;
}
.footer-links ul li {
  list-style-type: none;
  text-transform: none;
  margin-left: 2rem;
  line-height: 1.14rem;
}

.footer-links  ul li a {
  color: #31383f;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.footer-links ul li a:hover {
  text-decoration: none;
  color:#fff;
}


/*footer_newsletter*/
.footer-newsletter{
  font-family: 'Lato', sans-serif;
  font-size: 0.85rem;
  font-weight: 750;
  letter-spacing: 0.8px;
  text-transform: lowercase;
  color: #31383f;
  margin-bottom: 2rem;
  margin-left: 0;
  }

.titulo--newsletter::after{
  content:"";
  display: block;
  width: 76px;
  height: 3px;
  background: #31383f;
}
.bajada_news{
  color: #31383f;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  padding-top:0.6rem;
  font-style: normal;
}

#contacto  .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 6px;
  width: 60%;
  border-radius: 3px;
  margin-top: 1rem;
}

#contacto .footer-newsletter input[type="submit"] {
  border: 0;
  width: 40%;
  padding: 8px 8px;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  background:#ff7a36;
  margin-top: 1rem;
  border-radius: 3px;
}

#contacto .footer-newsletter input[type="submit"]:hover {
  background:#007bff;
}



/*                  TERMINA FOOTER LINKS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
                  OK INICIA FOOTER COPYRIGHT                  */
#contacto .copyright{
    background-color: #24323f;
    box-sizing: border-box; 
}

.area_footer_copyright_100{ 
  background-color: #24323f;
  width: 100%;
    padding:19px;
    margin: auto;
    height: 58px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
}
.contenedor_footer_copyright_90{ 
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.copyright_texto{
    color:#948f91;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.70rem;
    font-weight: 400;
}

.change_color{
    color:#948f91;
    font-size: 0.70rem;
}

.change_color:hover {
    color: #ff7a36;
    font-size: 0.70rem;
}
.contenedor_copyright_left{ 
    width:50%;
    display:flex;
    justify-content: left;
    flex-direction: row;
}
.contenedor_copyright_right{
    width: 50%;
    display:flex;
    justify-content:flex-end;
    box-sizing: border-box;
}

/*
                  OK TERMINA FOOTER COPYRIGHT
--------------------------------------------------------------*/

/* Back to top 
--------------------------------
.


/* ERROR PAGE*/

#error_404 {
  padding-top: 3rem;  
  text-align: center;
  height: 100vh; 
  width: 100vw;
}
#error_404 .container{
  min-height: 100%;
}
#error_404 .cara{
  padding-bottom: 20px;
  padding-top: 20px;
}

.font_404{
  font-family: 'Open Sans', sans-serif;
  font-size: 9rem;
  font-weight: 600;
  color:#dd6a31;
  text-align: center;
  letter-spacing: 2px;
}

#error_404 .bajada_404, .links_404{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
  font-weight: medium;
  color:#747172;
  text-align: center;
  padding-top: 0px;
}

#error_404 .nav {
  box-sizing: border-box;
}

#error_404 nav ul {
  display: flex; 
  flex-direction:column;
  font-size: 0;
  text-align: left;
}

#error_404 nav ul li {
  text-transform: lowercase;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

#error_404 nav ul li a {
  text-decoration: none;
  color:#747172;
  text-align: center;
}
#error_404 nav ul li a:hover {
  text-decoration: none;
  color:#dd6a31;
  text-align: center;
}

.links_404_2{
  font-family: 'Open Sans', sans-serif;
  color: #007bff;
  font-weight: 600;
  font-size: 0.8rem;
}

.links_404_3:hover{
  font-family: 'Open Sans', sans-serif;
  color: #1C3643;
  font-weight: 600;
  font-size: 0.8rem; 
  font-variant: italic;
  text-decoration: none;
}
/*mobile navegacion*/

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #007bff;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active > a:after {
  content: "\f077";
}

.mobile-nav  > a {
  padding-right: 35px;
}

.mobile-nav  ul {
  overflow: hidden;
  display:unset;
}

.mobile-nav  li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #24323f;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}