@charset "UTF-8";
/*variables color*/
/*botones*/
/*color filtro*/
/*variables fonts_esto es un bajón, viva el indesign*/
/*padding-margin*/
/*interlinea-interletra*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*general*/
/*texto bajada secciones_campañas*/
/*placeholder*/
a {
  text-decoration: none;
}

/*home punto*/
.orange_titulo {
  color: #f7e6c7;
  font-size: 3rem;
}

.orange_titulo {
  padding-left: 0.2rem;
}

#orange_point {
  font-size: 4rem;
  padding-left: 0.2rem;
  color: #ff6a00;
  font-family: "Lato", sans-serif;
}

.orange_titulo-ceo {
  padding-left: 0.2rem;
  color: #ff6a00;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
}

#orange_point-secciones {
  font-size: 3rem;
  padding-left: 0.2rem;
  color: #ff6a00;
  font-family: "Lato", sans-serif;
}

.servicios_titulo--2, .servicios_titulo--1, .nosotros_titulo--1, .nosotros_titulo--2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  word-spacing: 0.2rem;
  text-align: left;
  color: #31383f;
}

.nosotros_titulo--2 {
  padding-top: 2rem;
}

.nosotros_titulo--1 {
  padding-top: 0rem;
  padding-bottom: 0.8rem;
}

.servicios_titulo--2 {
  padding-top: 2rem;
}

#planificacion .texto4_li, .servicios_parrafo--1, .nosotros_parrafo--2, .nosotros_parrafo--1 {
  color: #31383f;
  font-family: "Raleway", sans-serif;
  font-size: 0.95rem;
  letter-spacing: 0.2px;
  text-align: left;
}

.nosotros_parrafo--2 {
  padding-top: 0.8rem;
}

.servicios_parrafo--1 {
  font-family: "Raleway", sans-serif;
  padding-top: 0.8rem;
  margin-right: 6rem;
}

#planificacion .texto4_li {
  font-family: "Raleway", sans-serif;
  margin-right: 6rem;
}

.span.texto4_li {
  display: block;
}

/*HTML SECCIONES_TITULOS*/
.titulo__seccion--co, .titulo__seccion--c, .titulo__seccion--f, .titulo__seccion--s {
  font-family: "Lato", sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  word-spacing: 0.2rem;
  color: #1C3643;
  text-align: center;
}

.titulo__seccion--s {
  padding-top: 2.1rem;
}

.titulo__seccion--f {
  padding-top: 2.4rem;
}

.titulo__seccion--c {
  padding-top: 100px;
}

/*texto bajada secciones_campañas*/
.bajada__titulo__seccion--co, .bajada__titulo__seccion--c, .bajada__titulo__seccion--f, .bajada__titulo__seccion--s {
  color: #747172;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding-top: 0.5rem;
  letter-spacing: 0.2px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.bajada__titulo__seccion--s {
  padding-top: 0.5rem;
}

.bajada__titulo__seccion--co {
  margin-left: 30%;
  margin-right: 30%;
}

/*formato link de img scroll mobiliario en estilos.css porque me cambia los colores*/
/*4 FORMATOS_títulos -textos*/
#formatos .formatos__card__titulo, #formatos .formatos__card__titulo--texto {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  padding-bottom: 2px;
  padding-top: 0.4rem;
  font-weight: 900;
}

/*textos*/
#formatos .formatos__card__titulo--texto {
  font-family: "Raleway", sans-serif;
  font-size: 0.78rem;
  font-weight: 400;
  line-height: 0.7rem;
  color: #747172;
  padding-top: 5px;
}

/*titulos albunes izquierda*/
/*mixims*/
.img__zocaloScroll--mobiliario {
  background-image: url("../img/f_scroll/mobilidario.jpg");
  min-height: 45vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 6%;
  margin-top: 0.1%;
}

.img__zocaloScroll--vallados {
  background-image: url("../img/f_scroll/vallados.jpg");
  min-height: 45vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 6%;
  margin-top: 4%;
  width: 100%;
}

.img__zocaloScroll--subtes_trenes {
  background-image: url("../img/f_scroll/trenes.jpg");
  min-height: 45vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 6%;
  margin-top: 4%;
  width: 100%;
}

.img__zocaloScroll--moviles_carteles {
  background-image: url("../img/f_scroll/carteles.jpg");
  min-height: 45vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 6%;
  margin-top: 4%;
  width: 100%;
}

.mapa__zocaloScroll--geoplaning {
  background-image: url("../img/f_scroll/geoplaning2.jpg");
  min-height: 45vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 6%;
  margin-top: -1.8%;
  width: 100%;
}

/*filtro*/
#servicios .mapa__zocaloScroll--geoplaning::before, #formatos .img__zocaloScroll--moviles_carteles::before, #formatos .img__zocaloScroll--subtes_trenes::before, #formatos .img__zocaloScroll--vallados::before, #formatos .img__zocaloScroll--mobiliario::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(49, 56, 63, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}

#servicios .mapa__zocaloScroll--geoplaning::before {
  background: rgba(49, 56, 63, 0.2);
}

#formatos #mobiliario_urbano:target {
  padding-top: 128px;
}

#formatos #vallados:target {
  padding-top: 128px;
}

#formatos #subtes_trenes:target {
  padding-top: 128px;
}

#formatos #moviles_carteles:target {
  padding-top: 128px;
}

#servicios #planificacion:target {
  padding-top: 90px;
}

#contacto div .banner_top_gris {
  background-color: #F2F4F6;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 40px;
}

/*4_FORMATO ver más ets*/
.formatos__btn, .formatos__btn--a {
  width: 60px;
  padding-top: 25px;
  margin-top: 10px;
  margin-left: 0px;
  box-sizing: content-box;
  cursor: pointer;
  padding: 6px 6px 6px 6px;
  border: none;
  border-radius: 3px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.6rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-overflow: clip;
  background: #032e48;
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  display: block;
}
.formatos__btn.formatos__btn:hover, .formatos__btn--a:hover {
  background: #007bff;
}

.formatos__btn--a {
  width: 32px;
  margin-left: 8px;
}
.formatos__btn--a.formatos__btn--a:hover {
  background: #007bff;
}

#formatos .icono-dialogo {
  padding-top: 0.7rem;
}

.bi-chat-right-text-fill {
  padding-top: 0.4rem;
}
.bi-chat-right-text-fill.bi-chat-right-text-fill:hover {
  color: #007bff;
}

/*5_CONTACTO whatsapp*/
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 19%;
  right: 90px;
  background-color: #00c0a5;
  border-color: #fff;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  z-index: 100;
}
.whatsapp.whatsapp:hover {
  background-color: #00e676;
  color: #fff;
}
.whatsapp .whatsapp-icon {
  margin-top: 14px;
}

.fa-color {
  color: #007bff;
}

.feature-list i, .orange-icons i {
  color: #007bff;
}

#home .home_btn_index {
  width: 100px;
  padding-top: 15px;
  margin-top: 20px;
  margin-left: 0px;
  box-sizing: content-box;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  background: #ff6a00;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-overflow: clip;
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  display: block;
}

#home .home_btn_index a {
  text-decoration: none;
  outline: none;
}

#home .home_btn_index:hover {
  color: #fff;
  background: #007bff;
  text-decoration: none;
}

#contacto .contacto_btn {
  width: 80px;
  padding-top: 15px;
  margin-top: 20px;
  margin-left: 0px;
  box-sizing: content-box;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  background: #ff6a00;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-overflow: clip;
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  display: block;
}

#contacto .contacto_btn a {
  text-decoration: none;
  outline: none;
}

#contacto .contacto_btn:hover {
  color: #fff;
  background: #007bff;
  text-decoration: none;
}

#cotiza .servicios_btn_cotizar {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 15px;
  box-sizing: content-box;
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  border: none;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  background: #ff6a00;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-overflow: clip;
  transition: background 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  display: block;
}

#cotiza .servicios_btn_cotizar a {
  text-decoration: none;
  outline: none;
}

#cotiza .servicios_btn_cotizar:hover {
  color: #fff;
  background: #007bff;
  text-decoration: none;
}

@media (max-width: 768px) {
  /* EMPIEZA EL MENÚ MOBILE */
}